.piggyLabel {
  background-color: #F5F6FE;
  padding: 8px 8px 8px 40px;
  color: #263238;
  border: 1px solid #FA8C16;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto;
  max-width: 327px;
  background-image: url('../../assets/img/mini-swin.svg');
  background-repeat: no-repeat;
  background-position: 10px 10px;
  margin: 0 24px;
  margin-bottom: 25px;
}