@import '../../assets/styles/common/vars';

.modal {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;

  h3 {
    max-width: 760px;
    font-weight: 700;
    font-size: 23px;
    line-height: 32px;
    margin-top: 24px;
    text-align: center;
    color: #222222;
    padding: 0 16px;
    margin: 0 auto;
    margin-bottom: 16px;
    margin-top: 24px;

    @media screen and (min-width: $breakpoint) {
      margin-top: 96px;
      margin-bottom: 24px;
      font-size: 25px;
    }
  }

  .close {
    width: 21px;
    height: 21px;
    background-color: transparent;
    border: none;
    background-image: url('../../assets/img/close.svg');
    background-repeat: no-repeat;
    margin-right: 17px;
  }
}

.modalChoice {
  &__header {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    &:before {
      content : "";
      position: absolute;
      left: 0;
      bottom: 0;
      width : 50%;
      border-bottom: 4px solid $green;
    }

    &:after {
      content : "";
      position: absolute;
      right: 0;
      bottom: 0;
      width : 50%;
      border-bottom: 4px solid #F5F6FE;
    }
  }
}

.modalForm {
  &__header {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    border-bottom: 4px solid $green;
  }

  h3 {
    margin-bottom: 8px;
  }

  &__choice {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #646464;
    line-height: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;

    b {
      margin-left: 3px;
    }

    @media screen and (min-width: $breakpoint) {
      margin-bottom: 24px;
    }
  }

  &__safe {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #646464;
    transform: translateX(-50%);
    color: #646464;
    position: relative;
    left: 50%;
    line-height: 20px;
    margin-top: 16px;
    background-image: url('../../assets/img/lock.svg');
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 20px;
  }
}

.modalInputs {
  width: 100%;
  padding: 0 16px;

  @media screen and (min-width: $breakpoint) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    width: 100%;
  }

  .input-wrapper {
    width: 100%;
    &:first-child {
      margin-bottom: 8px;
    }
    &:last-child {
      margin-bottom: 16px;
    }
    @media screen and (min-width: $breakpoint) {
      width: auto;
      &:first-child {
        margin-bottom: 16px;
      }
      &:last-child {
        margin-bottom: 24px;
      }
      input {
        width: 250px;
      }
    }
  }
}

.modalAnswers {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__btn {
    width: 100%;
    padding: 0 16px;
    .button {
      width: 100%;
      margin: 0 auto;
    }
  }

  @media screen and (min-width: $breakpoint) {
    &__btn {
      width: 100%;
      display: flex;
      justify-content: center;
      .button {
        width: 87px;
      }
    }
  }

  &__yes,
  &__no {
    width: 100%;
    border: 2px solid #F5F6FE;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    background-color: transparent;
    padding: 26px 0;
    padding-left: 86px;
    text-align: left;
    margin-bottom: 8px;
    background-repeat: no-repeat;
    background-position: 16px 16px;
    background-size: 40px;
    &:hover {
      border-color: $orange;
    }
  }

  @media screen and (min-width: $breakpoint) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    &__yes,
    &__no {
      padding: 0;
      width: 168px;
      height: 140px;
      background-position: top center;
      text-align: center;
      background-position: 63px 36px;
      margin-bottom: 24px;

      span {
        display: block;
        padding-top: 80px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
      }
    }

    &__yes {
      margin-right: 16px;
    }
  }

  &__yes {
    background-image: url('../../assets/img/yes.svg');
  }

  &__no {
    background-image: url('../../assets/img/no.svg');
    margin-bottom: 16px;
  }
}