@import '../../assets/styles/common/vars';

.featuresList {
  padding: 10px 16px 52px 20px;

  &__item {
    padding: 40px 0 20px 70px;
    background-repeat: no-repeat;
    background-position: center left;
    color: #263238;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    span {
      font-weight: 500;
      display: inline-block;
    }

    &_check {
      background-image: url('../../assets/img/check.svg');
    }

    &_home {
      background-image: url('../../assets/img/home.svg');
    }

    &_pig {
      background-image: url('../../assets/img/swin.svg');
    }

    &_star {
      background-image: url('../../assets/img/star.svg');
      position: relative;
      padding: 20px 0 20px 150px;
      &::before {
        content: '';
        width: 80px;
        height: 24px;
        position: absolute;
        left: 65px;
        background-image: url('../../assets/img/stars.svg');
        background-repeat: no-repeat;
        background-position: center left;
      }
    }
  }
}

.piggyLabel {
  padding: 10px 10px 10px 40px;
  border: 1px solid #FA8C16;
  background: #F5F6FE;
  margin-bottom: 24px;
  margin-left: 24px;
  margin-right: 24px;
  border-radius: 8px;
  background-image: url('../../assets/img/mini-swin.svg');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 20px;
}

.container_features {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $breakpoint) {
    .piggyLabel {
      display: none;
    }
  }
}

@media screen and (min-width: $breakpoint) {
  .featuresList {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 55px 16px 52px 0;

    &__item {
      background-position: center top;
      text-align: center;
      padding: 0;

      span {
        display: inline-block;
        padding-top: 70px;
        max-width: 265px;
      }

      &_star {
        span {
          padding-top: 100px;
        }

        &::before {
          left: 20px;
          bottom: 20px;
          height: 16px;
          margin-bottom: 10px;
        }
      }
    }

  }
}