@use "sass:math";
@use '../../assets/styles/common/functions' as func;
@import '../../assets/styles/common/vars';

.header {
  background-color: $main-blue;

  * {
    color: #fff;
  }

  &__container {
    background-color: $main-blue;
  }
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $main-blue;
  column-gap: 1rem;
  min-height: 53px;

  &__logo {
    display: flex;
    flex-direction: column;
    column-gap: 3px;

    img {
      display: block;
      width: 166px;
      aspect-ratio: 166/29;
      height: 100%;

      @media (min-width: #{375px + 1px}) and (max-width: #{$breakpoint - 1}) {
        width: func.fluid(166px, 206px, 375px, $breakpoint);
      }
      
      @media (min-width: $breakpoint) {
        width: 206px;
      }
    }
  }

  &__small {
    display: block;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    opacity: 0.8;
    min-width: max-content;
    white-space: nowrap;
  }

  &__anchor {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: right;
    &:hover {
      text-decoration: underline;
    }
  }
}

.headerBottom {
  &__text {
    font-size: 23px;
    line-height: 28px;
    font-weight: 600;

    &_green {
      display: inline;
      font-weight: 600;
      background-color: $green;
      border-radius: 5px;
      margin-left: 5px;
      line-height: 25px;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
    }
  }

  &__description {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 16px 0;
  }
}

.headerBottom__img {
  position: relative;

  &_big {
    width: 100%;
    height: auto;
  }

  &_sm {
    width: 102px;
    height: 39px;
    position: absolute;
    right: 8px;
    bottom: 8px;
  }
}

.menu {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    &:not(:empty) {
      margin: -1em;
    }
  }
  &__item {
    padding: 1em;
    font-size: 0.875rem;
  }
  &__anchor {
    letter-spacing: 0.06rem;
  }
}

@media (min-width: #{375px + 1px}) and (max-width: #{$breakpoint - 1}) {
  .headerTop {
    padding-top: func.fluid(8px, 19px, 375px, $breakpoint);
  }
}

// Media 
@media (min-width: $breakpoint) {
  .headerBottom {
    display: flex;
    justify-content: space-between;

  &__text {
    font-weight: 600;
    font-size: 35px;
    line-height: 48px;
    max-width: 565px;
    &_green { 
      line-height: 36px;
      }
    }

    &__img {
      &_sm {
        width: 127px;
        height: 48px;
      }
    }

    &__description {
      font-weight: 500;
      font-size: 23px;
      line-height: 32px;
      margin: 30px 0 0 0;
    }
  }

  .headerTop {
    padding-top: 19px;
    padding-bottom: 90px;

    &__logo {
      width: 206px;
    }
    
    &__small {
      font-size: 10px;
      line-height: 12px;
    }
  }
}