@import '../../assets/styles/common/vars';

.header {
  background-color: $main-blue;
  padding: 8px 16px 52px 16px;
  width: 100%;

  * {
    color: #fff;
  }

  .container {
    background-color: $main-blue;
  }
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  width: 100%;
  background-color: $main-blue;

  &__logo {
    width: 166px;
    height: 29px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }

  &__small {
    display: block;
    font-weight: 500;
    margin-top: -5px;
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    opacity: 0.8;
  }

  &__anchor {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: right;
    &:hover {
      text-decoration: underline;
    }
  }
}

.headerBottom {
  &__text {
    font-size: 23px;
    line-height: 28px;
    font-weight: 600;

    &_green {
      display: inline-block;
      font-weight: 600;
      background-color: $green;
      border-radius: 5px;
      margin-left: 5px;
      line-height: 25px;
    }
  }

  &__description {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 16px 0;
  }
}

.headerBottom__img {
  position: relative;

  &_big {
    width: 100%;
    height: auto;
  }

  &_sm {
    width: 102px;
    height: 39px;
    position: absolute;
    right: 8px;
    bottom: 8px;
  }
}

// Media 
@media screen and (min-width: $breakpoint) {
  .headerBottom {
    display: flex;
    justify-content: space-between;

  &__text {
    font-weight: 600;
    font-size: 35px;
    line-height: 48px;
    max-width: 565px;
    &_green { 
      line-height: 36px;
      }
    }

    &__img {
      &_sm {
        width: 127px;
        height: 48px;
      }
    }

    &__description {
      font-weight: 500;
      font-size: 23px;
      line-height: 32px;
      margin: 30px 0 0 0;
    }
  }

  .headerTop {
    padding-bottom: 90px;

    &__logo {
      width: 206px;
    }
    
    &__small {
      font-size: 10px;
      line-height: 12px;
    }
  }
}