@import './vars';

.input-wrapper {
  position: relative;

  span {
    position: absolute;
    top: 20px;
    left: 17px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #222222;
    pointer-events: none;
  }
}

input {
  background: $input-blue;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
  padding: 20px 16px;
  border-radius: 4px;
  outline: none;

  &:hover {
    color: $main-blue;
    border: 1px solid #6D87F1;
    background: #F5F6FE;
  }

  &:not(:placeholder-shown) {
    border: 1px solid $main-blue;
    color: #222222;

    ~ span {
      top: 5px;
      left: 16px;
      font-size: 11px;
      line-height: 13px;
      color: $main-blue;
    }

    &::placeholder {
      color: $grey;
    }
  }

  &::placeholder {
    color: transparent;
  }
}