$orange: #FA8C16;
$hover-orange: #F16E00;
$pressed-orange: #E16803;
$disabled-orange: #FCC58A;

$main-blue: #2F54EB;
$input-blue: #F5F6FE;

$green: #52C41A;

$grey: #646464;

$black: #000000;
$modal-black: #222222;

$breakpoint: 1202px;