@import '../../assets/styles/common/vars';

.footer {
  padding: 24px 24px 44px 16px;
  background-color: $main-blue;

  @media screen and (min-width: $breakpoint) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 24px 24px 61px 16px;
  }

  &__logo {
    width: 206px;
    height: 37px;
  }
}

.footerList {
  margin-top: 20px;

  &__item {
    margin-bottom: 16px;
    
    a {
      color: #fff;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 16px;

      &:hover {
        text-decoration: underline;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
    @media screen and (min-width: $breakpoint) {
      margin-bottom: 0;
      margin-right: 24px;
    }
  }
  @media screen and (min-width: $breakpoint) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// Media 
@media screen and (min-width: $breakpoint) {

}